---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
---

<Layout title="Welcome to Astro.">
	<Navbar text1="Home" text2="Books" text3="Others" text4="Special" />
	<main>
		<Hero />
		<!-- <h1 class="cinzel-decorative-bold">
			<span>BOOKS</span>
			<br />
			<span>OF</span>
			<br />
			<span class="text-gradient">WORLDS</span>
		</h1>
		<ul role="list" class="link-card-grid"></ul> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #982b1c;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
