<section class="book-promo noto-serif-georgian-regular">
	<div class="promo-text">
		<p class="clarification">AI-Driven Picks</p>
		<h1 class="title">
			Let <span class="cinzel-decorative-bold">AI</span> find your next read
		</h1>
		<p class="description">
			Discover your next favorite book with AI-driven recommendations tailored
			just for you. Explore endless possibilities and let our AI do the
			searching.
		</p>
		<button class="start-button noto-serif-georgian-bold">GET STARTED</button>
	</div>
	<div class="promo-image">
		<img src="/hero-book.png" alt="hero book" />
	</div>
</section>

<style>
	.book-promo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 4rem;
	}

	.promo-text {
		text-align: center;
		max-width: 800px;
		color: #800000;
	}

	.clarification {
		letter-spacing: 2px;
		font-size: 14px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.title {
		font-size: 40px;
		margin: 0;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.description {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.start-button {
		background-color: #c08552;
		color: white;
		border: none;
		padding: 1rem 2rem;
		font-size: 16px;
		cursor: pointer;
		border-radius: 1rem;
		transition: background-color 0.3s ease;
	}

	.start-button:hover {
		background-color: #9f6f40;
	}

	.promo-image {
		max-width: 50%;
		height: auto;
	}

	.promo-image img {
		max-width: 100%;
		height: auto;
	}
</style>
